article p,
article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  table-layout: fixed !important;
  word-wrap: break-word !important;
  word-break: normal !important;
  text-align: justify !important;
}

article p {
  margin: 0 0 1em 0 !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 2em;
  letter-spacing: 0;
}

article {
  color: #222831;
}

.dark article {
  @apply !text-dtext
}

article h1, article h2, article h3, article h4, article h5, article h6 {
  margin: 1.2em 0 0.5em 0;
  padding: 0;
  font-style: bold !important;
  color: #222831;
  text-align: left !important;
  font-weight: 600;
}

.dark article h1,
.dark article h2,
.dark article h3,
.dark article h4,
.dark article h5,
.dark article h6 {
  @apply !text-dtext
}

article h1 {
  font-style: normal;
  font-size: 1.8em;
  line-height: 140%;
  text-align: left !important;
}

article h2 {
  font-size: 1.6em !important;
}

article h3 {
  font-size: 1.4em;
}

article h4 {
  font-size: 1.2em;
}

article h5 {
  font-size: 1em;
  font-weight: 500;
}

article h6 {
  font-size: 1em;
  font-weight: 400;
}

article strong {
  font-weight: 700;
}

article a {
  text-decoration: underline 2px;
  text-decoration-color: #71afdd;
}

article ol,
article blockquote ol,
article ul,
article blockquote ul {
  margin-left: 1.2em;
  margin-bottom: 1em;
  line-height: 2em;
  font-size: 14px;
}

article ol,
article blockquote ol {
  list-style-type: decimal;
}

article ul,
article blockquote ul {
  list-style-type: disc;
}

article blockquote {
  padding: 0 0px 0 10px;
  margin: 1.5em 0px !important;
  border-left: 3px solid #71afdd;
  quotes: none;
}

article blockquote::before,
article .stressed-quote::before {
  content: "“";
  display: block;
  font-style: normal;
  font-size: 28px;
  color: #71afdd;
  font-weight: bold;
  line-height: 30px;
}

article code {
  font-size: 0.9em;
  padding: 0.2em 0.4em;
  background: #f8f8f8;
  border-radius: 3px;
}

article pre {
  padding: 0 1em;
  overflow: auto;
  background: #f8f8f8;
  border-radius: 12px;
}